
.idea/

Demo.Funky.Courses.Api.Tests/bin/Debug/net6.0/

Demo.Funky.Courses.Api/obj/

Demo.Funky.Courses.Api.Tests/obj/Debug/net6.0/

Demo.Funky.Courses.Api/bin/Debug/net6.0/

Demo.Funky.Courses.Api.Tests/obj/

coursedata/
